<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.ipcn_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Simbolosfe"
            android:label="Símbolos de Fé da IPCN">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity
            android:name=".SociedadesInternasActivity"
            android:label="Sociedades Internas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity
            android:name=".BoletinsActivity"
            android:label="Boletins Mensais">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity
            android:name=".CfwPdfActivity"
            android:label="Confis. de Fé de Westminster">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.Simbolosfe" />
        </activity>
        <activity
            android:name=".RadioIpbActivity"
            android:label="Rádio IPB">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity
            android:name=".CmwPdfActivity"
            android:label="Catecismo maior de Westminster">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.Simbolosfe" />
        </activity>
        <activity
            android:name=".BreveCWPdfActivity"
            android:label="Breve Catecismo de Westminster">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.Simbolosfe" />
        </activity>
        <activity
            android:name=".PregacoesActivity"
            android:label="Galeria de vídeos IPCN">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity
            android:name=".SobreIgrejaActivity"
            android:label="Sobre a IPCN e IPB">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity
            android:name=".LiderancaActivity"
            android:label="Liderança IPCN">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="Sobre">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.MainActivity" />
        </activity>
        <activity android:name=".JaneiroBoletimActivity"
            android:label="Boletim de Janeiro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.ipcn_app.BoletinsActivity" />
        </activity>
    </application>

</manifest>